.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
**/lib/CaptureSerial_processing/CaptureSerial/application.windows32/
**/lib/CaptureSerial_processing/CaptureSerial/application.windows64/
*.log
*.bkp
